.user {
  border: none;
  background-color: $color-blue;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
}

.user__data{
  float:left;
  width: 100%;
  font-size: 25px;
  color: white;
}

.user__data__score{
  float: right;
  font-size: 25px;
  color: white;
  padding: 20.5px 15px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
}

.user__data__avatar, .user__data__name  {
  float: left;
  padding: 20.5px 15px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
}

.user__data__avatar__img{
  height: 100%;
  border-radius: 50%;
}

