<div class="bs-component">
  <div class="container-fluid">
    <div class="user">
      <div class="user__data">
        <div class="user__data__avatar">
          <img class="user__data__avatar__img"
               data-ng-src="https://api.adorable.io/avatars/128/{{ vm.user.avatar }}.png"/>
        </div>
        <div class="user__data__name" data-ng-bind="vm.user.firstname + ' ' + vm.user.lastname"></div>
        <div class="user__data__score" data-ng-bind="vm.user.score"></div>
      </div>
    </div>
  </div>
</div>
